body {
    background-color: #7F6E7F;
}

canvas {
  position: relative;
  float: left;
  left: -10px;
  top: -10px;
}

div.sidebar {
  position: relative;
  float: left;
  left: -10px;
  top: -10px;
  padding-left: 25px;
  width: 200;
}

div p {
  font-family: Arial, Helvetica, sans-serif;
}